{% extends 'main.html' %}
{% block content %}
<div class="board">
          <ul>
            <li class="first">
              <a href="https://www.kmu.ac.kr/uni/main/page.jsp?mnu_uid=143&" target="blank" class="on">일반</a>
				<div style="visibility: visible;">
	                <ul class="subject">
<li class="first"><a href="{{st_href1}}" target="blank">{{st_sub1}}</a><span>{{st_wrt1}}</span><span>{{st_date1}}</span></li>
<li><a href="{{st_href2}}" target="blank">{{st_sub2}}</a><span>{{st_wrt2}}</span><span>{{st_date2}}</span></li>
<li><a href="{{st_href3}}" target="blank">{{st_sub3}}</a><span>{{st_wrt3}}</span><span>{{st_date3}}</span></li>
<li><a href="{{st_href4}}" target="blank">{{st_sub4}}</a><span>{{st_wrt4}}</span><span>{{st_date4}}</span></li>
<li><a href="{{st_href5}}" target="blank">{{st_sub5}}</a><span>{{st_wrt5}}</span><span>{{st_date5}}</span></li>
	                </ul>
				</div>
            </li>
        </ul>
</div>

<div class="board">
          <ul>
            <li class="first">
              <a href="https://www.kmu.ac.kr/uni/main/page.jsp?mnu_uid=144&" target="blank" class="on">학사</a>
				<div style="visibility: visible;">
	                <ul class="subject">
<li class="first"><a href="{{ac_href1}}" target="blank">{{ac_sub1}}</a><span>{{ac_wrt1}}</span><span>{{ac_date1}}</span></li>
<li><a href="{{ac_href2}}" target="blank">{{ac_sub2}}</a><span>{{ac_wrt2}}</span><span>{{ac_date2}}</span></li>
<li><a href="{{ac_href3}}" target="blank">{{ac_sub3}}</a><span>{{ac_wrt3}}</span><span>{{ac_date3}}</span></li>
<li><a href="{{ac_href4}}" target="blank">{{ac_sub4}}</a><span>{{ac_wrt4}}</span><span>{{ac_date4}}</span></li>
<li><a href="{{ac_href5}}" target="blank">{{ac_sub5}}</a><span>{{ac_wrt5}}</span><span>{{ac_date5}}</span></li>
	                </ul>
				</div>
            </li>
        </ul>
</div>

<div class="board">
          <ul>
            <li class="first">
              <a href="https://www.kmu.ac.kr/uni/main/page.jsp?mnu_uid=145&" target="blank" class="on">장학</a>
				<div style="visibility: visible;">
	                <ul class="subject">
<li class="first"><a href="{{aw_href1}}" target="blank">{{aw_sub1}}</a><span>{{aw_wrt1}}</span><span>{{aw_date1}}</span></li>
<li><a href="{{aw_href2}}" target="blank">{{aw_sub2}}</a><span>{{aw_wrt2}}</span><span>{{aw_date2}}</span></li>
<li><a href="{{aw_href3}}" target="blank">{{aw_sub3}}</a><span>{{aw_wrt3}}</span><span>{{aw_date3}}</span></li>
<li><a href="{{aw_href4}}" target="blank">{{aw_sub4}}</a><span>{{aw_wrt4}}</span><span>{{aw_date4}}</span></li>
<li><a href="{{aw_href5}}" target="blank">{{aw_sub5}}</a><span>{{aw_wrt5}}</span><span>{{aw_date5}}</span></li>
	                </ul>
				</div>
            </li>
        </ul>
</div>

<div class="board">
          <ul>
            <li class="first">
              <a href="https://www.kmu.ac.kr/uni/main/page.jsp?mnu_uid=147&" target="blank" class="on">모집</a>
				<div style="visibility: visible;">
	                <ul class="subject">
<li class="first"><a href="{{cr_href1}}" target="blank">{{cr_sub1}}</a><span>{{cr_wrt1}}</span><span>{{cr_date1}}</span></li>
<li><a href="{{cr_href2}}" target="blank">{{cr_sub2}}</a><span>{{cr_wrt2}}</span><span>{{cr_date2}}</span></li>
<li><a href="{{cr_href3}}" target="blank">{{cr_sub3}}</a><span>{{cr_wrt3}}</span><span>{{cr_date3}}</span></li>
<li><a href="{{cr_href4}}" target="blank">{{cr_sub4}}</a><span>{{cr_wrt4}}</span><span>{{cr_date4}}</span></li>
<li><a href="{{cr_href5}}" target="blank">{{cr_sub5}}</a><span>{{cr_wrt5}}</span><span>{{cr_date5}}</span></li>
	                </ul>
				</div>
            </li>
        </ul>
</div>

<div class="board">
          <ul>
            <li class="first">
              <a href="https://www.kmu.ac.kr/uni/main/page.jsp?mnu_uid=3445&" target="blank" class="on">취업</a>
				<div style="visibility: visible;">
	                <ul class="subject">
<li class="first"><a href="{{jo_href1}}" target="blank">{{jo_sub1}}</a><span>{{jo_wrt1}}</span><span>{{jo_date1}}</span></li>
<li><a href="{{jo_href2}}" target="blank">{{jo_sub2}}</a><span>{{jo_wrt2}}</span><span>{{jo_date2}}</span></li>
<li><a href="{{jo_href3}}" target="blank">{{jo_sub3}}</a><span>{{jo_wrt3}}</span><span>{{jo_date3}}</span></li>
<li><a href="{{jo_href4}}" target="blank">{{jo_sub4}}</a><span>{{jo_wrt4}}</span><span>{{jo_date4}}</span></li>
<li><a href="{{jo_href5}}" target="blank">{{jo_sub5}}</a><span>{{jo_wrt5}}</span><span>{{jo_date5}}</span></li>
	                </ul>
				</div>
            </li>
        </ul>
</div>

<div class="board">
          <ul>
            <li class="first">
              <a href="https://story.kmu.ac.kr/user/Ep/EpMng010L.do?CURRENT_MENU_CODE=MENU0052&TOP_MENU_CODE=MENU0004&PRM_ORDER=2" target="blank" class="on">비교과 프로그램</a>
				<div style="visibility: visible;">
	                <ul class="subject">
<li class="first"><a href="https://story.kmu.ac.kr/user/Ep/EpMng010L.do?CURRENT_MENU_CODE=MENU0052&TOP_MENU_CODE=MENU0004&PRM_ORDER=2" target="blank">{{non_title}}</a><span>{{non_date}}</span><span>{{non_mem}}</span></li>
<li><a href="https://story.kmu.ac.kr/user/Ep/EpMng010L.do?CURRENT_MENU_CODE=MENU0052&TOP_MENU_CODE=MENU0004&PRM_ORDER=2" target="blank">{{non_title}}</a><span>{{non_date}}</span><span>{{non_mem}}</span></li>
<li><a href="https://story.kmu.ac.kr/user/Ep/EpMng010L.do?CURRENT_MENU_CODE=MENU0052&TOP_MENU_CODE=MENU0004&PRM_ORDER=2" target="blank">{{non_title}}</a><span>{{non_date}}</span><span>{{non_mem}}</span></li>
<li><a href="https://story.kmu.ac.kr/user/Ep/EpMng010L.do?CURRENT_MENU_CODE=MENU0052&TOP_MENU_CODE=MENU0004&PRM_ORDER=2" target="blank">{{non_title}}</a><span>{{non_date}}</span><span>{{non_mem}}</span></li>
<li><a href="https://story.kmu.ac.kr/user/Ep/EpMng010L.do?CURRENT_MENU_CODE=MENU0052&TOP_MENU_CODE=MENU0004&PRM_ORDER=2" target="blank">{{non_title}}</a><span>{{non_date}}</span><span>{{non_mem}}</span></li>
	                </ul>
				</div>
            </li>
        </ul>
</div>
{% endblock %}