<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.kmu.ac.kr/uni/main/main.jsp"target='_blank'><i class="fa fa-angle-double-right"></i>계명대학교</a></li>
						<li><a href="https://portal.kmu.ac.kr" target='_blank'><i class="fa fa-angle-double-right"></i>에드워드포털</a></li>


					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="http://ctl.kmu.ac.kr/index.jsp" target='_blank'><i class="fa fa-angle-double-right"></i>교수학습지원시스템</a></li>
						<li><a href="https://sugang.kmu.ac.kr/servlet/Fip" target='_blank'><i class="fa fa-angle-double-right"></i>수강신청</a></li>    
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://library.kmu.ac.kr/" target='_blank'><i class="fa fa-angle-double-right"></i>동산도서관</a></li>
                        <li><a href="https://story.kmu.ac.kr/main.do" target='_blank'><i class="fa fa-angle-double-right"></i>스튜던트포털</a></li>
					</ul>
				</div>
			</div>

				<hr>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                          <span><a href="#">&nbsp 이용약관 &nbsp</a></span>
                          <span><a href="#">&nbsp 개인정보처리방침 &nbsp</a></span>
                          <span><a href="#">&nbsp 커뮤니티이용규칙 &nbsp</a></span>
                          <span><a href="#">&nbsp 공지사항 &nbsp</a></span>
                          <span><a href="#">&nbsp 문의하기 &nbsp</a></span>
                    <br>
					<p class="h6 mt-2 mb-3">© 2021. KM포털 Co. all rights reserved.</p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->