{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">  
  <div class="container-fluid">
    <a class="navbar-brand" href="/">KM포털</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'board:free_index' %}">&nbsp&nbsp일반게시판&nbsp&nbsp</a> <!-- url board:index >> board:free_index 변경-->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            &nbsp&nbsp학과게시판&nbsp&nbsp
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">컴공게시판</a></li>
            <li><a class="dropdown-item" href="#">의용공게시판</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">전자게시판</a></li>
          </ul>
        </li>
                  <li class="nav-item">
          <a class="nav-link" href="#">&nbsp&nbsp지식in&nbsp&nbsp</a>
        </li>
                  <li class="nav-item">
          <a class="nav-link" href="#">&nbsp&nbsp심부름&nbsp&nbsp</a>
        </li>
                  <li class="nav-item">
          <a class="nav-link" href="{% url 'news:index' %}">&nbsp&nbsp소식&nbsp&nbsp</a>
        </li>
            {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">&nbsp&nbsp마이페이지&nbsp&nbsp</a>
        </li>
            {% endif %}
      </ul>
      <form class="d-flex">
                         {% if user.is_authenticated %}
          <div style="display:flex; align-items:center;">
               <p style="margin:0;"> {{user.username}}님 안녕하세요.</p>
          </div>                            
          <a class="nav-link btn-primary" style="background-color: #ffebb8; color: #171717; margin-left:10px;" href="{% url 'log_app:Logout' %}">&nbsp&nbsp로그아웃&nbsp&nbsp</a>

                {% else %}
 
          <a class="nav-link btn-primary" style="background-color: #ffebb8; color: #171717;" href="{% url 'log_app:Signup' %}">&nbsp&nbsp회원가입&nbsp&nbsp</a>
  
  
          <a class="nav-link btn-primary" style="background-color: #ffebb8; color: #171717; margin-left:10px;" href="{% url 'log_app:Login' %}">&nbsp&nbsp로그인&nbsp&nbsp</a>
   
        {% endif %}
      </form>
    </div>
  </div>
</nav>