{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">  
  <div class="container-fluid">
      <a href="/"><img src="/static/images/KMportal.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" id="freeB" aria-current="page" href="{% url 'board:free_index' %}">&nbsp&nbsp자유게시판&nbsp&nbsp</a> <!-- url board:index >> board:free_index 변경-->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " id="lineB" onclick='active' href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            &nbsp&nbsp계열게시판&nbsp&nbsp
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'board:eng_index' %}">공학 게시판</a></li>
            <li><a class="dropdown-item" href="{% url 'board:sci_index' %}">자연과학 게시판</a></li>
            <li><a class="dropdown-item" href="{% url 'board:med_index' %}">의학/간호 게시판</a></li>
            <li><a class="dropdown-item" href="{% url 'board:art_index' %}">예체능 게시판</a></li>
            <li><a class="dropdown-item" href="{% url 'board:soc_index' %}">인문/사회 게시판</a></li>
          </ul>
        </li>
                  <li class="nav-item">
          <a class="nav-link " id="qnaB" onclick='' href="{% url 'qnaBoard:index' %}">&nbsp&nbsp질문이&nbsp&nbsp</a>
        </li>
                  <li class="nav-item">
          <a class="nav-link " id="boormB" onclick='' href="{% url 'boormiBoard:index' %}">&nbsp&nbsp부르미&nbsp&nbsp</a>
        </li>
                  <li class="nav-item">
          <a class="nav-link " id="newsB" onclick='' href="{% url 'news:index' %}">&nbsp&nbsp알리미&nbsp&nbsp</a>
        </li>
            {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link " id="myB" onclick='' href="{% url 'my_page:modify' %}">&nbsp&nbsp마이페이지&nbsp&nbsp</a>
        </li>
            {% endif %}
      </ul>
      <form class="d-flex">
                         {% if user.is_authenticated %}
          <div style="display:flex; align-items:center;">
               <p style="margin:0;"> {{user.username}}님 안녕하세요. 매너온도 : {{user.manner}}°C 내공 : {{user.naegong}}점</p>
          </div>                            
          <a class="nav-link btn-primary" style="background-color: #ffebb8; color: #171717; margin-left:10px;" href="{% url 'log_app:Logout' %}">&nbsp&nbsp로그아웃&nbsp&nbsp</a>

                {% else %}
 
          <a class="nav-link btn-primary" style="background-color: #ffebb8; color: #171717;" href="{% url 'log_app:Signup' %}">&nbsp&nbsp회원가입&nbsp&nbsp</a>
  
  
          <a class="nav-link btn-primary" style="background-color: #ffebb8; color: #171717; margin-left:10px;" href="{% url 'log_app:Login' %}">&nbsp&nbsp로그인&nbsp&nbsp</a>
   
        {% endif %}
      </form>
    </div>
  </div>
</nav>