{% extends 'main.html' %} 
{% block content %}
<!--{{post.update_counter}}-->

<div class="card">
    <!--제목,분류,작성일-->
    <div class="card-header">
        <strong>{{ post.title }}</strong>
        <span>{{ post.date|date:'Y.m.d. H:i' }}</span>
    </div>
    <div class="card-body">
        <!--작성자, 조회수-->
        <div>
            <span>작성자 : {{ post.user }}</span>
            <span>조회수 : {{ post.hits }}</span>
        </div>
        <!--내용-->
        <div>
            {{ post.content }}
        </div>
    </div>
</div>
<div>
    <ul>
        {% for answer in post.answer_set.all %}
        <li>{{ answer.content }}</li>
        {% endfor %}
    </ul>
</div>
<form action="{% url 'board:answer_create' post.id %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="10"></textarea>
    {% if user.is_authenticated %}
    <input type="submit" value="답글등록">
    {% endif %}
</form>
<div>
    {% if post_auth %}
    <a href="/board/delete/{{post.id}}" role="button">삭제</a>
    {% endif %}
</div>
<div>
    <a href="/board" role="button">목록</a>
</div>

{% endblock %}